.App {
    font-family: sans-serif;
    text-align: center;
    width: 100%;
  }
  
  .multi-range-slider-container {
    display: flex;
    flex-direction: column;
  }

  .multi-range-slider .bar-left {
    width: 30%;
    background-color: #f0f0f0;
    border-radius: 10px 0px 0px 10px;
    box-shadow: inset 0px 0px 5px black;
    padding: 4px 0px;
  }



  .divOutput {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding:0.1rem 0.5rem; */
  }
  .divOutput > div {
    width: 50%;
    font-size:0.6rem;
  }
  .divOutput span {
   padding:0.3rem;
  }
  