@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400&display=swap');
// font-family: 'Playpen Sans', cursive;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --colorbg1: #fefefe;
  --colorbg2: #e8eceb;
  --colorbgAside1: rgba(255, 245, 180, 0.769);
  // --colorbgAside2: rgb(222, 194, 132);
  --colorbgAside2: rgb(196, 175, 121);
  
  --color1: black;
  --padHeader: 1rem; 
  /* btn nouvelle proposition */
}

body {
  z-index:0;
  // background: no-repeat url('/wallpaper5.jpeg');
  background-color: rgb(238, 238, 238);
  background-size:cover;
  background-position: left;
  display: flex
}

body > #root {
  margin:auto;
  height: 90%;
  width:70%;
  z-index: 1;
  background: white;
  overflow: hidden;
  border-radius:2rem;
  background-image: linear-gradient(to bottom, var(--colorbg1), var(--colorbg2));
  box-shadow: 5px 5px 30px -15px rgba(0,0,0,0.8);
}

// -> dès que la taille d’écran atteint 1400px, on redimensionne

@media screen and (max-width: 1400px) {
  body > #root {
    height: 100%;
    width:100%;
    border-radius: 0rem;
    box-shadow:none;
  }
}






