.aside {
    
    display:flex;
    flex-direction: column;
    width:25%;
    // height:100vh;
    justify-content: space-between;
    padding:1rem;
    background-image: linear-gradient(to bottom, var(--colorbgAside1), var(--colorbgAside1), var(--colorbgAside2));
    
    &__nav {
        display: flex;
        flex-direction: column;
        gap:1rem;
    }
    
    &__a {
        padding:1rem;
        background-color:var(--color1);
        color:white;
    }
}

.aside-nav__navLink {
    text-decoration: none;
    color:initial;
}

.menu-link {
    text-decoration: none;
    color: rgba(202, 94, 61, 0.75);
}

.select-box {
    position: relative;
}

#soValue {
    cursor: pointer;
    margin: 0.5rem 0rem;
    
}

.rotate {
    transform: rotate(180deg)
}


.select-options {
    position: relative;
    cursor: pointer;
}

.select-options:after {
    content:"";
    position: absolute;
    right:15px;
    top:50%;
}

.options {
    // border:1px black solid;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 15rem;
    border-radius: 0.3rem;
}

.content {
    margin-top: 0.3rem;
    background-color: white;
    position: absolute;
    z-index:9;
}

.search {
    margin-bottom: 0.2rem;
    position: sticky;
    top:0;
    overflow: hidden;
}

.liOptions {
    padding:0.3rem;
    cursor: pointer;
}

.liOptions, #soValue, .search {
    padding:0.3rem;
}

.optionChosen {
    display: flex;
    gap:0.3rem;
    align-items: center;
    margin:0.2rem 0rem;
}

.optionChosen > p {
    font-size:0.8rem;
}



