.section {
    padding:2rem;

    &__divForm, &__divInput {
        display: flex;
        margin-bottom: 3rem;
    }

    &__divForm, &__article {
        justify-content: space-between;
    }

    &__divInput div {
        margin-left: 1rem;
    }

    &__article {
        display:flex;
    }

}

.section__recipe {
    margin:1rem;
}

.hidden {
    display: none;
}
