.sectionRecipe .divDropDonwList {
    position:relative;
    align-items: baseline;
}

.sectionRecipe {
    display: flex;
    flex-direction: column;
    gap:1rem;
    font-family: 'Playpen Sans', cursive;
    z-index:100;
    
}

.scrollY {
    overflow-y:scroll;
}

.sectionRecipe > div {
    display:flex;
    align-items: center;
    
    margin-bottom:1rem;
}
.sectionRecipe > div img {
    width:4rem;
    
}

.sectionRecipe button {
    border-radius:0.3rem;
    border:none;
}

.sectionRecipe > input {
    font-family: 'Playpen Sans', cursive;
}

.sectionRecipe .sectionRecipeName {
    margin-left:1rem;
    font-size: 2.4rem;
    width:fit-content;
    padding:1rem;
    text-align:center;
    background: linear-gradient(to right, var(--colorOrangeDark), var(--colorOrangeLight), var(--colorOrangeLight),var(--colorOrangeDark) );
    background-size:3rem;
    color:white;
    border-radius: 0.3rem;
    font-family: "Poppins", sans-serif;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,var(--colorOrange) 0 -3px 0 inset;
    
}

.sectionRecipe .sectionRecipeName img {
    width:2rem;
}

 .sectionRecipeField {
    display:flex;
    align-items: center;
 }

.sectionRecipeField h3, .sectionRecipeFieldH4, .sectionRecipeField legend, .sectionRecipeField > div > span {
    font-family: "Poppins", sans-serif;
}

.sectionRecipeField h3, .sectionRecipeField legend {
    text-decoration: underline;
    text-shadow: 0 1px 0 var(--colorShadow2);
    color:var(--colorUi3)

}

.sectionRecipeFieldH4 {
    color:var(--colorOrange);
    display:flex;
    align-items: center;
    gap:0.3rem;
}

.sectionRecipeTop, .sectionRecipeBottom {
    display: flex;
    border-radius: 0.3rem;
}

.sectionRecipeTop {
    justify-content: space-between;
    box-shadow: var(--colorShadow) 0 2px 4px, var(--colorShadow) 0 7px 13px -3px, var(--colorbg3) 0 -3px 0 inset;
    padding:0.2rem;
}

.sectionRecipeTop > div {
    padding:1rem;
    display:flex;
    flex-direction:column;
    justify-self: center;
    gap:1rem;
}

.sectionRecipeTop > div > * {
    margin:0.5rem 0rem;
}

.sectionRecipeBottom {
    width: fit-content;
    align-self: end;
    align-items: center;
    
}

.sectionRecipeBottom > * {
    justify-self: center;
    margin:0.3rem;
    background-color: inherit;
}

.sectionRecipeTop figure {
    width:50%;
    position: relative;
    max-height:30rem;
}

.sectionRecipeTop figure > div {
    position: absolute;
    bottom:0.1rem;
    width:100%;
    overflow: hidden;
}

.sectionRecipeTop figure figcaption, .sectionRecipeTop figure .figCaptionInput {
    text-align:center;
    padding:0.5rem 0rem 0.5rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    color:white;
    width:100%;
}

.sectionRecipe img {
    width:100%;
    height:100%;
    border-radius:0.3rem;
}

/* ADD IMG */
.sectionRecipe figure .downloadImg {
    font-family: "Poppins", sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px var(--colorbg6) dashed;
    width:100%;
    height:100%;
    box-sizing: border-box;
    cursor:pointer;
}

.sectionRecipe input, .sectionRecipe textarea {
    text-align: center;
    border:none;
    width:fit-content;
    margin: 0.3rem 0rem;
}

.sectionRecipe .sectionRecipeTop .personInput {
    width:4.5rem;
}

.sectionRecipe .sectionRecipeTop input, .sectionRecipe .sectionRecipeBottom input, .sectionRecipe .sectionRecipeFieldIngredientsContainer li .unitInput {
    border:2px var(--colorbg6) dashed;
}



.sectionRecipe .sectionRecipeTop select {
    width:5rem;
    height:2rem;
}

.sectionRecipeTop, .sectionRecipeBottom {
    display: flex;
    border-radius: 0.3rem;
}

.sectionRecipe input, .sectionRecipe label {
    border-radius:0.3rem;
    padding:0.7rem;
}

.sectionRecipeField {
    display: flex;
    font-size:1.5rem;
    width:fit-content;
    gap:1rem;
}

.sectionRecipeField, .sectionRecipe ul {
    padding: 0.3rem;
}

.sectionRecipe ul {
    display:flex;
    flex-wrap: wrap;
    padding:1.4rem 1rem;
}


/* STEPS */

.sectionRecipeFieldStepsContainer {
    display:flex;
    flex-direction: column;
    gap:1rem;
    color:var(--colorUi3);
}

.sectionRecipe ul li > div {
    display: flex;
    align-items: center;
}

.sectionRecipe ul li div > div {
    /* // moins étapes */
    height: fit-content;
    overflow: hidden;
    position: absolute;
    left:2rem;
}

.sectionRecipe textarea {
    /* // textarea step */
    padding:0.3rem;
    text-align: start;
    width:100%;
    font-family: 'Poppins', sans-serif;
    color:var(--colorUi3)
}

.sectionRecipe p {
    line-height: 1.4rem;
    margin-top: 0.3rem;
}

.sectionRecipe  p, .sectionRecipe  textarea {
    border-radius: 0.3rem;
    padding:0.5rem;
    background-color: var(--colorParagraph);
}

.sectionRecipe .addStep {
    margin-top:0.4rem;
    background-color:var(--colorbg2);
    color:var(--colorUi3);
    box-shadow: 2px 3px 4px -3px var(--colorFont1);
}

.BtnDeleteStep {
    border:none;
    background-color: inherit;
}

textarea:focus{
    outline: none;
}

/* INGREDIENT */

.sectionRecipeFieldIngredientsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:1rem;
}

.sectionRecipe .sectionRecipeFieldIngredientsContainer li {
    /* // container ingredient */
    width:15rem;
    padding-bottom:2rem;
    padding:0rem 0rem;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 7px 0px var(--colorShadow2);
    position:relative;
}

.sectionRecipe .sectionRecipeFieldIngredientsContainer li .unitInput {
    width:4.5rem;
    height:1.8rem;
    font-family: 'Playpen Sans', cursive; 
    padding:0rem;
}

.sectionRecipe .sectionRecipeFieldIngredientsContainer li select, .sectionRecipe .sectionRecipeTop select {
    background-color:inherit;
    border:none;
    border-bottom:1px var(--colorFont1) solid;
    color:var(--colorFont1)
}

.sectionRecipe .sectionRecipeFieldIngredientsContainer .addIngredient {
    border:2px var(--colorbg6) dashed;
    height:17rem;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sectionRecipe .sectionRecipeFieldIngredientsContainer li div {
    width:100%;
}

.sectionRecipeFieldIngredientsContainer figcaption {
    padding:1rem;
}

.sectionRecipeFieldIngredientsContainer figcaption p {
    background-color:inherit;
}

.figcaption {
    display:flex;
    flex-direction:column;
}

.figcaptionDiv {
    display:flex;
    flex-flow: row nowrap;
    gap:1rem;
    background-color: inherit;
}

.figcaption .figcaptionDiv input {
    width:fit-content;
}

.BtnDeleteIngredient, .BtnDeleteImg {
    position:absolute;
    top:-1.1rem;
    right:-1.3rem;
    border-radius: 0.3rem;
    padding:0.2rem;
    background-color:inherit;
}

/* // Modal creation */

.sectionRecipeFigure {
        display:flex;
        flex-direction: column;
        border:1px rgb(103, 119, 168) dashed;
        height: 15rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;
}


@media screen and (max-width: 780px) {
  
    .sectionRecipeTop {
        flex-direction: column-reverse;
    }

    .sectionRecipeTop figure {
        width:100%;
    }
    
}

@media screen and (max-width: 600px) {
    .sectionRecipe .sectionRecipeFieldIngredientsContainer li {
        width:12rem;
    } 

    .sectionRecipe .sectionRecipeName {
        font-size:2rem;
    }

    .sectionRecipe .sectionRecipeField {
        font-size:1.1rem;
    }

    .sectionRecipe .sectionRecipeFieldIngredientsContainer li figcaption, .sectionRecipeFieldStepsContainer p, .sectionRecipeFieldStepsContainer textarea {
        font-size:0.8rem;
        
    }

}

@media screen and (max-width: 500px) {
    .sectionRecipe .sectionRecipeFieldIngredientsContainer li {
        width:9rem;
    }

    .sectionRecipe .sectionRecipeName {
        font-size:1.7rem;
    }
}

@media screen and (max-width: 400px) {
    .sectionRecipe .sectionRecipeFieldIngredientsContainer li {
        width:100%;
    } 

    .sectionRecipe > div > img {
        width:2.7rem;
    }

    .sectionRecipe .sectionRecipeName {
        font-size:1.4rem;
    }
}


  




