

.dropDownListContainer {
    font-size:1rem;
    font-weight: 200;
    position: relative;
    position:absolute;
    left:10rem;
    z-index:50;
    width:25rem;
    border-radius: 0.3rem;
}

.dropDownListSearchContainer {
    background-color: inherit;
    width:fit-content;
    display:flex;
    gap:0.3rem;
    align-items: center;
    border-radius:0.2rem;
    background-color: var(--colorbg2); 
    margin-bottom:1rem;
    margin-top:0.2rem;
    box-shadow: 2px 3px 4px -3px var(--colorFont1);
}

.dropDownListSearchContainer button {
    border:none;
    background-color: inherit;
    cursor:pointer;
    color:var(--colorUi3);
}

.dropDownListSearch {
    width: 100%;
    background-color: inherit;
    border:1px;
    height:1rem;
    color:var(--colorUi3);
    
}

form div .choosenItemsContainer {
    display:flex;
    flex-direction: column;
    background-color: var(--colorbg2);
    border-top-left-radius:0.5rem;
    border-top-right-radius:0.5rem;
    padding-bottom:0rem;
}

.choosenItemsContainer li {
    line-height: 0rem;
    font-size:1rem;
    width: fit-content;
    align-items: center;
    margin:0.1rem 0rem;
    background-color: var(--colorOrange);
    color:white;
    padding:0.2rem;
    border-radius:0.3rem;
}

.tagChoosenItem {
    display:flex;
    align-items: center;
    gap:0.2rem;
    padding:0.1rem 0 0.1rem 0.1rem;
}

.tagChoosenItem button {
    border:none;
    background-color:inherit;
    color:white;
    cursor: pointer;
}

.tagChoosenItem span {
    font-size:0.9rem;
    font-weight:400;
}

.itemsListContainer {
    display:flex;
    flex-flow: column nowrap;
    background-color: var(--colorbg2);
    border-bottom-left-radius:0.7rem;
    border-bottom-right-radius:0.7rem;
    color:var(--colorUi3);
    
}

.itemsListContainer li {
    cursor: pointer;
}

.scrollContainer {
    max-height: 24rem;
    overflow-y: scroll;
    scrollbar-color: var(--colorGrey) var(--colorbg2);
    box-shadow: 2px 3px 4px -3px var(--colorFont1);
    border-radius: 0.3rem;
}