.container {
  position: relative;
  box-sizing: border-box;
  width: fit-content;
  z-index: 0;
}

.mainbox {
  box-sizing: border-box;
  position: relative;
  width: 14rem;
  height: 2.4rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 160px;
  border:none;
  background-color: inherit;
  transition: all 0.3s ease;
}

.checkbox:focus {
  border: none;
  outline: none;
}

.checkbox:checked {
  right: 10px;
}

.checkbox:checked ~ .mainbox {
  width: 50px;
}

.checkbox:checked ~ .mainbox .search_input {
  width: 0;
  height: 0px;
  border: none !important;
}

.checkbox:checked ~ .mainbox .iconContainer {
  padding-right: 8px;
}

.checkbox {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 17px;
  top: 10px;
  z-index: 9;
  cursor: pointer;
  appearance: none;
}

.container .mainbox .search_input {
  box-sizing: border-box;
  height: 100%;
  width: 170px;
  background-color: transparent;
  border: none;
  border-bottom: 1px var(--colorFont1) solid;
  outline: none;
  padding-bottom: 4px;
  padding-left: 10px;
  font-size: 1em;
  color:var(--colorFont1);
  transition: all 0.3s ease;
  font-family: 'Poppins';
}

.search_input::placeholder {
  color:var(--colorFont1);
}

.iconContainer {
  box-sizing: border-box;
  padding-top: 5px;
  width: fit-content;
  transition: all 0.3s ease;
}

.search_icon {
  box-sizing: border-box;
  fill:var(--colorFont1);
  font-size: 1.3em;
  z-index: 0;
}

@media screen and (max-width: 780px) {

  .mainbox {
    width: 14rem;
    justify-content: flex-end;
  }
  .search_input {
    height: 100%;
    width: 170px;
    border-bottom: 1px var(--colorFont1) solid;
  }
  .checkbox {
    width: 5px;
  }
  
  .checkbox:checked {
    right: 0px;
  }
  
  .checkbox:checked ~ .mainbox {
    width: 14rem;
  }
  
  .checkbox:checked ~ .mainbox .search_input {
    height: 100%;
    width: 170px;
    border-bottom: 1px var(--colorFont1) solid !important;
  }
  
  .checkbox:checked ~ .mainbox .iconContainer {
    padding-right: 0px;
  }
  
}