.section__start {
   display:flex;
   flex-direction: column;
   gap:1rem;
   max-width:20rem;
   margin:auto;
   
}

.section__start button {
    width: fit-content;
}

#starter {
    width:3rem;
    text-align: center;
}

.section__ulContainerProposal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap:1rem;
}

// .section-ulContainerProposal__li {
//     width:5rem;
//     border:1px black solid;
//     display: flex;
//     flex-direction: column;
//     gap:0.3rem;
//     padding:2rem 2rem 0.5rem 2rem;
// }

// .section-ulContainerProposal-li__choiceBox {
//     margin-top: 1rem;
//     align-self: flex-end;
// }

// .section-ulContainerProposal-li__choiceBox * {
//     cursor: pointer;
//     margin:0.2rem;
// }



// .section-ulContainerProposal-li__p--hungry, .section-ulContainerProposal-li__p--cookingTime {
//     font-size:0.7rem;
// }