.section__start {
   display:flex;
   flex-direction: column;
   align-items: center;
   gap:1rem;
   max-width:20rem;
   margin:auto;
   
}

.section__start button {
    width: fit-content;
}

#starter {
    width:3rem;
    text-align: center;
}

.section__ulContainerProposal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap:1rem;
}

.section__btnValidate {
    width:fit-content;
    margin: 5rem auto;
}

.section__pNoResults {
    text-align: center;
}