html, body, #root, .app {
    height: 100%;
    }
    
    #root {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        scrollbar-width: none;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-color: transparent transparent;
    }
    #root::-webkit-scrollbar {
        display: none;
    }

    #header {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        color: var(--colorFont1);
    }
    #aside {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
    }

    .outlet {
        grid-column: 1 / -1;
        grid-row: 2 / -2;
        overflow-y: scroll;
        color: var(--colorFont1);
    }
    
    #footer {
        grid-column: 1 / -1;
        grid-row: -1 / -2;
    }

    /* // modal */
    .backdrop {
        background-color: rgba(0, 0, 0, 0.753);
        position: fixed;
        top: 0;
        left:0;
        width:100%;
        height: 100vh;
        z-index:10;
        
    }
    
    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:60%;
        height:70%;
        margin:auto;
        z-index:10;
        overflow: hidden;
        background-image: linear-gradient(to bottom, var(--colorbg1), var(--colorbg2));
        border-radius: 0.3rem;
        box-shadow: 6px 5px 8px 2px black;
        padding:4rem;
    }

    .hidden {
        display: none;
    }

    .section {
        padding:2rem;
    }

    .optionChosen {
        display: flex;
        justify-content:space-between;
        width: fit-content;
        gap:0.3rem;
        align-items: center;
        margin:0.2rem 0rem;
        background-color: var(--colorOrange);
        color:white;
        padding:0.2rem;
        border-radius:0.3rem;
    }

    .optionChosen:hover {
        filter:grayscale(35%)
    }

    .optionChosen__cancel, .liOptions p {
        cursor: pointer;
    }

    .liOptions:active {
        text-decoration: underline;
    }
    
    .section__form {
        display: flex;
        flex-flow: column;
        gap:2rem;
        width:30%;
        max-width: 20rem;
        border:1px white solid;
        padding:3rem 3.7rem;
        margin: 2rem auto 2rem auto;
        background: var(--colorUser);
        border-radius: 0.8rem;
        box-shadow: -3px 4px 6px -2px var(--colorFont1);
    }
    
    .section-form__btn {
        width:fit-content;
        padding:0.3rem 1rem;
        margin:auto;
        background-color: inherit;
        background-color: var(--colorBtnStarterAside);
        color:white;
        font-size: 1rem;
        font-weight: 600;
        border-radius:0.3rem;
        border:none;
        padding:0.5rem 1rem;
    }
    
    .section-form__btn:hover {
        color: #ffffff;
        box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.6), 0 0 9px 3px rgba(216, 155, 12, 0.2);
    }
    
    .section-form__div {
        display:flex;
        flex-direction: column;
        gap:0.3rem;
    }
    
    .section-form__div input {
        padding:1rem;
        border-radius: 0.3rem;
        border:none;
        background-color: var(--colorbg2);
        color:var(--colorFont1);
    }

    .section-form__div input:-webkit-autofill, .section-form__div input:-webkit-autofill:focus{
        -webkit-box-shadow: 0 0 0px 1000px var(--colorbg2) inset;
        -webkit-text-fill-color: var(--colorFont1);
    }

    .section-form__div label {
        color:black;
    }

    .section-form-div__warningPassword {
        font-size:0.6rem;
        font-style: italic;
        font-family: "Poppins", sans-serif;
        color:var(--colorOrange)
    }
    
    .section-form__h2 {
        margin: auto;
        font-size: 1.7rem;
        font-weight: 500;
        color:var(--colorOrangeRange)
    }

    .section-form__btn {
        background-color: var(--colorOrange);
    }

    .section__divForm {
        display:flex;
        flex-flow:row wrap;
        justify-content: space-between;
        align-items: center;
        z-index:2;
    }

    section h2, .section__divForm > div, .section__addRecipe {
        margin-bottom:2rem;
    }
    
    .section__divForm > div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap:2rem;
        margin-left:auto;
    }

    .section__divForm h2, section h2 {
        font-family: "Poppins", sans-serif;
        font-size: 1.7rem;
        font-weight:400;
        text-shadow: 0 1px 0 var(--colorShadow2);
    }

    .section__form a {
        color:black;
    }
    

    body a {
        text-decoration: none;
        color:inherit;
    }

    .starFavorite {
        color:var(--colorYellow)
    }

    #imgLogoContainer {
        height:auto;
        display:flex;
        justify-content: center;
      }
    
      #imgLogo {
        height:auto;
      }

    
    
    
    
    