.header {
    padding: var(--padHeader);
    display: flex;
    justify-content: space-between;
    position:relative;

    &__rightSide {
        display:flex;
        gap:0.5rem;
    }
}

.header-rightSide__boxProfile {
    display: flex;
    flex-direction: column;
    gap:0.3rem;
    position: absolute;
    right:-10rem;
    box-shadow: -8px 10px 8px -8px rgba(0,0,0,0.48);
    width:fit-content;
    padding:0.3rem 1rem;
    border-radius:0.3rem;
    padding:0.5rem 1rem;
    padding-bottom: 0.8rem;
    transition: 700ms ease-in-out;
}

// 
.colorBox {
    color: var(--colorbgOrangeAside3)
}

.iconProfile {
    cursor: pointer;
}

.header-rightSide__boxProfile button {
    border:none;
    font-size: 0.7rem;
    padding:0.5rem;
    width:7rem;
    background-color: white;
    border:1px var(--colorbgOrangeAside3) solid;
    color: var(--colorbgOrangeAside3)
}

.header-rightSide__nav * {
    margin: 0rem 0.3rem;
}

.header-rightSide__boxProfile, .colorBox, .colorBox, .header-rightSide__boxProfile button {
    border-radius: 0.3rem;
}



.menu-link {
    text-decoration: none;
    color: rgba(202, 94, 61, 0.75);
}

.header a, .header h1 {
    font-family: "Poppins", sans-serif;
}